<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title%></h1>
    <ul>
        <form action="/user/search" method="GET">
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>
        <ul>
            <% for(var us in users) {%>
                <span>
                    <li><%= users[us].name %><span>&nbsp;</span><a href='/user/<%= users[us].id %>'>View</a></li> 
                </span>
            <% } %>
        </ul>
    </ul>
</body>
</html>