h1 #{title}
//- ul  
//-     each us in Users
//-     li= us.name
form.example(action='')
  input(type='text', placeholder='Search..', name='q')
  button(type='submit') Search

ul
    each us in users
        li= us.name